.book_wrapper {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
}
.book_wrapper-info {
  padding: 1rem;
  text-align: left;
}
.book_wrapper-image,
.book_wrapper-info {
  flex: 1 1 0;
}
.book_wrapper-info-authors {
  text-align: left;
  margin: 0.5rem 0;
}

.book_wrapper-info-publisher {
  text-align: left;
  margin: 0.5rem 0;
}
.book_more_details {
  margin: 2rem 0;
}
.book_more_details a {
  color: white;
  background-color: #18cf89;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  border-radius: 12px;
}
