.all_books_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  margin: 3rem 0;
}

@media (max-width: 567px) {
  .all_books_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
