html,
body {
  height: 100%;
  background-color: rgb(242, 242, 242);
}
.App {
  text-align: center;
  padding: 5rem 0;
  height: 100vh;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: auto;
  }
}
